@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-back;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
}

input {
  min-height: 48px;
  font-size: 22px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid $sub-pale;
  color: $main-content;
  transition: all 1s ease;

  &:hover, &:focus {
    border-color: $main-content;
  }
}

button {
  padding: 10px 0;
  font-size: 22px;
  background-color: transparent;
  border: 1px solid $sub-pale;
  color: $main-content;
  outline: none;
  transition: all 1s ease;

  &:hover, &:focus {
    border-color: $main-content;
    cursor: pointer;
  }
}


